* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(image/flou.avif);;
    height: 100vh;
    background-size: cover;
    background-position: center;
     
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ccc;
    border: 1px solid ;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #7dd0f7;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #7dd0f7;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #fa8072;
}

input[type="checkbox"] {
    margin-right: 5px;
}
