

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
}

.profile {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.profile:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.profile img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-name {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: #333;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0,0,2);
    background-color: #fff;
    color: rgb(253, 13, 173);
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgb(253, 13, 173);
    text-decoration: none;
    cursor: pointer;
}

.profile-details {
    text-align: center;
}

.schedule {
    margin-top: 20px;
}

.schedule h3 {
    margin-bottom: 10px;
}

.schedule ul {
    list-style: none;
    padding: 0;
}

.schedule ul li {
    margin-bottom: 5px;
}

.reserve-btn {
    display: block;
    width: 10%;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
}

.reserve-btn:hover {
    background-color: #0056b3;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    animation: backgroundAnimation 20s linear infinite;
    background: linear-gradient(270deg, #FF512F, #DD2476, #FF512F, #DD2476);
    background-size: 400% 400%;
}

.container {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
